<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Code/index.css" rel="stylesheet" type="text/css">
    <title>Document</title>
    
</head>

<center><h1>Test side</h1></center>
<a href="Login.ejs"><h2>Log inn</h2></a>
<a href="Undersøkelse.ejs"><h2>En side</h2></a>
<a href="Something.ejs"><h2>Undersøkelse</h2></a>

<script src="app.js"></script>
<body>
    
</body>
</html>